

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #E9ECF4;
    color: #000;
    font-family: 'Roboto', sans-serif;
}


.new-excer-container{
    display: none;
    font-size: 16px;
    background: rgba(0, 178, 176, 0.5);
    width: 100%;
    height: 100%;
    /* position the div in center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-excer-container{
    display: none;
    font-size: 16px;
    background: rgba(0, 178, 176, 0.5);
    width: 100%;
    height: 100%;
    /* position the div in center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.login-container{
    display: block;
    font-size: 16px;
    background: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    /* position the div in center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-area{
    margin: 30px;
    max-width: 450px;
    padding: 30px;
    background: #fafafa;
    min-width: 400px;
    border-radius: 12.5% 5%;
    border-style: solid;
    border-width: 2.5px;

    /* position the div in center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-area h3{
    margin-bottom: 15px;
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 178, 176);
}

.form-area .single-form{
    position: relative;
    margin-bottom: 10px;
}

.form-area .single-form input{
    width: 100%;
    padding: 10px;
}

.form-area .single-form input:focus + label,
.form-area .single-form input:valid + label{
    color: #00b3b0;
    font-size: 0.9rem;
    font-weight: bold;
    top: -10px;
}

.form-area .single-form input:focus + label,
.form-area .single-form input:valid + label{
    color: #00b3b0;
    font-size: 0.9rem;
    font-weight: bold;
    top: -10px;
}

.form-area .single-form input:focus + label:after,
.form-area .single-form input:valid + label:after{
    content: ':';
}
.new_exc_buttons{
    display: block;
    justify-content: space-around;
}

.btn-form{
    margin: 10px;
    color: #fafafa;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

.btn-submit{
    background: #4CAF50;
}

.btn-cancel{
    background: #00b2b0;
}

.btn-library{
    background: #12203E;
}

.btnLogout{
    background-color: #da1b1bb1;
    color: #ffffff;
    height: 35px;
    padding: 20px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.btnLogin{
    background-color: #0f5ac1b1;
    color: #ffffff;
    height: 35px;
    padding: 20px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.form-area label{
    position: absolute;
    top: 12px;
    left: 10px;
    color: #777;
    font-size: 0.9rem;
    background: #fff;
    transition: .5s;

}


.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (repeat(4, auto));

    grid-template-areas: "header header header"
                        "sidebar contenido contenido"
                        "sidebar widget-1 widget-2"
                        "footer footer footer";
}

.contenedor > div,
.contenedor > .header,
.contenedor > .contenido,
.contenedor > .sidebar,
.contenedor > .footer{
background: #fff;
padding: 20px;
border-radius: 4px;
}

.fil_width
{
    min-width: 305px;
}

.contenedor .header{
    background: #12203E;
    color: #fff;
    grid-area: header;
}

.contenedor .contenido{
    grid-area:  contenido;
}

.contenedor .sidebar{
    display: block;
    min-height: 200px;
    grid-area: sidebar;
}

.contenedor .btn-upd,
.contenedor .btn-del{
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .btn-upd{
    grid-area: widget-1;
    background: #0089BA;
}

.contenedor .btn-del{
    grid-area: widget-2;
    background: #d77300b1;
}

.contenedor .footer{
    background: #12203E;
    color: #fff;
    grid-area: footer;
}

.info-exc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background: linear-gradient(to left, #0089BA, #008F7A);
}

.card{
    width: 95%;
    height: 150px;
    margin: 20px;
    display: flex;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 5px 10px #033f49;
    border-radius: 10px;
}

.lib-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-title p{
    color: #0089BA;
    text-decoration: none;
}

.img-card{
    width: 95%;
    height: 250px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 5px 10px #033f49;
    border-radius: 10px;   
}

.img-card > img{
    object-fit: scale-down;  
}

.card .content{
    width: 100%;
    height: 100%;
    display: block;
}

.card .content .title h3{
    color: #026e5e;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.card .content .title span{
    color: #0089ba;
    font-size: 12px;
}

.card .content .text p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
}

.ex-details{
    display: flex;
    max-height: 100px;
    justify-content: space-around;
}

.ex-details .detail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    max-width: 40px;
    margin: 5px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .item-library{
    display: flex;
    align-items: center;
  }

  .items-library{
    max-height: 450px;
    overflow:scroll;
  }

  .id-excer{
    visibility: hidden;
  }

  .title-excer{
    font-size: 20px;
  }
  
  .info-excer{
    margin-left: 20px;
  }

  .muscle-excer{
    font-size: 15px;
  }

  .img-container > img{
    width: 70px;
    height: 70px;
    border-radius: 30%;
  }

  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.7px;
  } 

@media screen and (max-width: 768px){
    .contenedor{
        grid-template-areas: 
        "header header header"
        "contenido contenido contenido"
        "sidebar sidebar sidebar"
        "widget-1 widget-1 widget-1"
        "widget-2 widget-2 widget-2"
        "footer footer footer";
    }
    .new_exce{
        width: 100%;
        text-align: center;
        padding: 33px;
        min-height: 500px;
        min-width: 500px;
        border-radius: 22px;
        position: absolute;
        display: none;
    }
}